<%- include includes/dashboard/header.ejs ; %>

    <style type="text/css">
        input{
            border:none !important;
            padding-left: 10px;
            border-bottom: 1px solid lightblue !important;
            font-size: 13px;
            margin-top:10px;
        }
        input:focus{
            border-bottom: 1px solid lightslategray !important;
        }
    </style>


            <div class="main-cards">

                <div  class="card" style="border:1px solid lightgray;">
                    <span style="color: slategrey;font-size: 14px;">Dashboard/<u>Profile</u></span>
                    <div style="height: auto;padding: 20px;">
                        
                        <div class="profileGrid">
                            <div class="leftContainerProfile">
                                <img src="assets/images/y-logo.png" style="height: auto;width: 100%;">
                            <!-- <h4 style="text-align: center;">Change Avatar</h4> -->
                            </div>
                            <div class="rightContainerProfile">
                                <ul>
                                    <li>
                                        <p>Full Name</p>
                                        <input type="text" name="" class="input" value="<%= data.name %>">
                                    </li>
                                    <li>
                                        <p>E-mail</p>
                                        <input type="text" name="" class="input" value="<%= data.email %>">
                                    </li>
                                    <li>
                                        <p>Username</p>
                                        <input type="text" name="" class="input" value="<%= data.username ? data.username : 'null' %>">
                                    </li>
                                     <li>
                                        <p>Phone</p>
                                        <input type="text" name="" class="input" value="+<%= data.number %>">
                                    </li>
                                    <li>
                                        <button class="button"> <i class="fa fa-save"></i> Save</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <div class="card" style="display: none;">Content Up Here
                </div>
                <div class="card" style="display: none;">Content Up Here
                </div>
            </div>

<%- include includes/dashboard/footer.ejs ; %>